html {
  height: 100%;
  width: 100%;
}

.navBar{
  display: flex;
  justify-content: space-evenly;
  /* position: absolute;
  top: 20px; */
}

.navBar a{
  font-size: 30px;
  color: teal;
}

.navBar a:hover{
  font-size: 40px;
}

.waves{
  height: 275px;
  width: 100%;  
  object-fit: cover;
  padding-top: 0px;
}

.welcome{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 100px;
  font-size: 20px;
  color: mediumturquoise;
}

